<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="WorkerTraceMain">
    <Appenders>
        <Console name="Console">
            <PatternLayout
                    pattern="[%d{dd-MM HH:mm:ss,SSS}] [%highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] traceId: %X{trace_id} spanId: %X{span_id} %t - %c: %m%ex%n"
                    disableAnsi="false"
            />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
